attrs==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
automat==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
constantly==15.1.0 ; python_version >= "3.10" and python_version < "4.0"
cryptography==41.0.3 ; python_version >= "3.10" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.12.3 ; python_version >= "3.10" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
incremental==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
itemadapter==0.8.0 ; python_version >= "3.10" and python_version < "4.0"
itemloaders==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
lxml==4.9.3 ; python_version >= "3.10" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.10" and python_version < "4.0"
parsel==1.8.1 ; python_version >= "3.10" and python_version < "4.0"
protego==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pydispatcher==2.0.7 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation == "CPython"
pyopenssl==23.2.0 ; python_version >= "3.10" and python_version < "4.0"
pypydispatcher==2.1.2 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation == "PyPy"
queuelib==1.6.2 ; python_version >= "3.10" and python_version < "4.0"
requests-file==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
scrapy==2.10.1 ; python_version >= "3.10" and python_version < "4.0"
service-identity==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
setuptools==68.1.2 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
tldextract==3.4.4 ; python_version >= "3.10" and python_version < "4.0"
twisted-iocpsupport==1.0.4 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
twisted==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
w3lib==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
zope-interface==6.0 ; python_version >= "3.10" and python_version < "4.0"
